body{
    width: 100vw;
}

/* HEADER/NAV BAR */
/* creates header with flex and background color */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31343d;
}

/* heading */
h1 {
    font-size: 200%;
    background-color: #92ccce;
    color: #31343d;
    padding: 20px 20px 20px 100px;
    margin: 5px 5px 5px 0px;
}

/* navbar spacing */
header nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

/* navbar link decoration and color */
header nav a {
    text-decoration: none;
    color: #92ccce;
    padding: 5px;
    margin: 10px;
}


/* FIGURE */
/* large image */
figure {
    background-image: url(../../images/figure.jpg);
    min-height: 500px;
    width: 100%;
}

/* image subtitle */
/* figcaption {
    background-color: #92ccce;
    color: #31343d;
    position: relative;
    top: 400px;
    left: 90%;
    padding: 5px;
    max-width: fit-content;
} */


/* MAIN */
main {
    color: #31343d;
    font-weight: bold;
}
/* flexbox */
section {
    margin-top: 10px;
    display: flex;
    align-items: stretch;
}
/* establishes left column for h2 headings */
.left-column {
    flex-basis: 20%;
    text-align: right;
    border-right: solid 3px #31343d;
    margin: 10px;
}
/* establishes right column for content */
.right-column {
    flex-basis: 80%;
    padding: 5px;
    margin: 10px
}
/* headings */
h2{
    font-size: 200%;
    padding: 5px;
    margin: auto;
}
/* makes linked images flex */
#work .right-column {
    display: flex;
    flex-wrap: wrap;
}
/* allows absolute positions for h3 */
#work a {
    position: relative;
}
/* scaling images with borders */
img {
    border: 10px solid #92ccce;
    margin: 5px;
    max-width: 100%;
    height: auto;
}
/* titles for work boxes */
h3{
    background-color: #92ccce;
    font-size: 150%;
    position: absolute;
    bottom: 100%;
    left: 10px;
    padding: 5px;
}
/* spacing */
#contact-me ul {
    display: flex;
    justify-content: space-around;
}
/* makes Github link consistent with other elements */
main a {
    color: #31343d;
    text-decoration: none;
}